<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="padding-10px border-box pop ion-content-scroll-host">
    <div class="flex center-center">
      <h3>Sisterhood Knowledge 🧠</h3>
    </div>
    <ion-segment (ionChange)="segmentChanged($event)" value="first">
      <ion-segment-button value="first">
        <ion-label>Self Development</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second">
        <ion-label>Resource</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <!-- Content based on selected segment -->
    <div *ngIf="selectedSegment === 'first'">
      <div class="flex column center-center">
        <h3>Information Center</h3>
        <p>Insights, guides & mindful topics for our sisters</p>
      </div>
      <div *ngFor="let item of information">
        <div class="padding-10px border-box magenta-bg white">
          <h4 class="text-center">{{item.title}}</h4>
          <p>{{item.description}}</p>
        </div>
        <div class="box"></div><br>
      </div>
      
    </div>
    <div *ngIf="selectedSegment === 'second'">
      <div class="flex center-center">
        <h3>Gallery</h3>
      </div>
      <!-- Add images -->
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let image of gallery">
            <img [src]="'https://focus-network-server.vercel.app/api/get-file/' + image.id" class="gallery-image fade-in" alt="Gallery image" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
