.box {
    width: 0;
    height: 0;
    border-left: 40px solid #e51e92; /* Adjust size here */
    border-bottom: 40px solid transparent;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    // opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Slightly offset */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Fade and slide effect */
}

ion-segment-button {
    --color-checked: black; /* Text color when selected */
    --indicator-color: #e51e92; /* Indicator bar color */
  }

  .ion-content-scroll-host::before,
  .ion-content-scroll-host::after {
    position: absolute;
    
    width: 1px;
    height: 1px;
    
    content: "";
  }
  
  .ion-content-scroll-host::before {
    bottom: -1px;
  }
  
  .ion-content-scroll-host::after {
    top: -1px;
  }