.example-content {
    display: flex;
    // align-items: center;
    justify-content: center;
    // height: 100%;
  }

  ion-button {
    --background-activated: #e51e92;
    --color: #e51e92;
  }

  .pop {
    font-family: 'Poppins', 'Ariel';
  }