<ion-content class="pop">
  <br>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="ion-content-scroll-host">
    <div class="example-content">
      <h3>Connect with our Mentors</h3>
    </div><br>
    <ion-card *ngFor="let item of mentors; let i = index">
      <div class="flex padding-10px border-box">
        <div class="ion-justify-content-center flex width-50">
          <img class="round" alt="mentor1" [src]="'https://focus-network-server.vercel.app/api/get-file/' + item.file.id" height="170px" width="130px" />
        </div>
        <div class="flex column full-width">
          <ion-card-header>
            <ion-card-title>{{item.fullName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle><strong>Bio:</strong></ion-card-subtitle>
            <p>{{item.bio}}</p>
          </ion-card-content>
        </div>
      </div>
  
      <ion-button fill="clear" [routerLink]="['/home/mentor-details', item._id]">View Mentor</ion-button>
      <ion-button fill="clear" [id]="'present-alert-' + i">Book Mentor</ion-button>
  
      <!-- Alert for this specific mentor -->
      <ion-alert
        [trigger]="'present-alert-' + i"
        [header]="'Are you sure you want to book ' + item.fullName"
        [message]='"Next Appointment: " + item.availability[0].date.slice(0,10) + " " + item.availability[0].time '
        [buttons]="createAlertButtons(item)"
      ></ion-alert>
    </ion-card>
  </div>
</ion-content>
