<ion-content>
  <br>
    <div class="example-content">
      <h3>Connect with our Mentors</h3>
    </div><br>
  <ion-card>
    <div class="flex padding-10px border-box">
      <div class="ion-justify-content-center flex width-50">
        <img class="round" alt="mentor1" src="../../../assets/images/mentor1.jpg" />
      </div>
      <div class="flex column full-width">
        <ion-card-header>
          <ion-card-title>Kgothatso Theko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><strong>Bio:</strong></ion-card-subtitle>
          <p>Software Engineer that writes code to solve a problem. Develops Mobile and Web applictaions</p>
        </ion-card-content>
      </div>
    </div>

    <ion-button fill="clear">View Mentor</ion-button>
    <ion-button fill="clear">Book Mentor</ion-button>
  </ion-card>
</ion-content>
