ion-input.custom {
    --background: #fff;
    --color: black;
    --placeholder-color: black;
    --border-radius: 15px;
    --highlight-color: black;
  }

  .cons {
    height: 550px;
  }

  ion-button {
    --background: #fff;
    --background-activated: #e51e92;
    --color: black;
  }

  ion-button:active {
    --background: #000;
    --color: #fff;
  }
  ion-button:focus {
    --background: #000;
    --color: #fff;
  }