
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-justify-content-center white-bg">
      <!-- <ion-title class="ion-no-margin ion-text-center">Welcome To <span class="">Focused</span> Network</ion-title> -->
       <span class="focused font-size-38px">Focused</span>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center white-bg">
      <span class="network margin-left-6px">NETWORK</span>
    </ion-row>
  </ion-toolbar>

<ion-content class="ion-align-items-end" [fullscreen]="true">
  <img class="full-width white-bg" src="../../assets/focusNetwork-logo-removebg-preview.png" alt="logo"/>
  <ion-card class="ion-justify-content-center ion-padding magenta-bg black border-radius-20px">
    <form [formGroup]="loginForm">
      <ion-col>
        <ion-input formControlName="email" class="custom" required type="email" label-placement="stacked" fill="outline" placeholder="Enter Email">
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
        <ion-note *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" color="warning">
          Please enter your valid registered email.
        </ion-note><br><br>
        <ion-input formControlName="password" class="custom" required type="password" label-placement="stacked" fill="outline" placeholder="Enter Password">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
        </ion-input>
        <ion-note *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" color="warning">
          Password must be at least 8 characters, include letters, numbers, and a special character(?; !;).
        </ion-note>
        </ion-col>
    </form>
    <p class="ion-text-center pointer b">Forgot Password?</p>
    <ion-button expand="block" fill="solid" shape="round" (click)="login()">Login</ion-button>
    <p class="ion-text-center white">Don't have an account?</p>
    <p class="ion-text-center pointer b" [routerLink]="['/register']">Create an account</p>
  </ion-card>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->
