<ion-content>
  <div class="example-content pop">
    <div class="padding-10px border-box xx-large" (click)="goBack()">
    <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
    <div class="flex-1"></div>
    </div>
    <h3>Mentor Details</h3>
  </div>
  <ion-card class="pop">
    <div class="flex ion-align-items-center ion-justify-content-center">
      <img [src]="'https://focus-network-server.vercel.app/api/get-file/' + mentor?.file.id" alt="Profile Image" width="100%">
    </div>
    <ion-card-header>
      <ion-card-title>{{ mentor?.fullName }}</ion-card-title>
      <ion-card-subtitle><strong>Expertise:</strong> {{ mentor?.expertise }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Bio:</strong> {{ mentor?.bio }}</p>
      <p><strong>Availability:</strong></p>
      <ul>
        <li *ngFor="let slot of mentor?.availability">
          <!-- {{ slot.date.slice(0,10) }} at {{ slot.time }} - {{ slot.isBooked ? 'Booked' : 'Available' }} -->
          {{ slot.date.slice(0,10) }} at {{ slot.time }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
