<ion-content>
  <div class="padding-10px border-box pop">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <div class="flex center-center">
        <h3>Upcoming Events</h3>
      </div>
      <ion-card class="flex magenta-bg" *ngFor="let item of events">
            <ion-card-header class="half-width no-padding flex center-center">
              <ion-card-title class="padding-5px">{{ item.date.slice(0,10) | date: 'd MMMM' }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="full-width no-padding">
              <ion-accordion-group>
                <ion-accordion toggleIconSlot="start">
                  <ion-item slot="header">
                    <ion-label>{{item.title}} ({{item.time}})</ion-label>
                  </ion-item>
                  <div class="ion-padding magenta-bg black" slot="content"><strong>Location:</strong> {{item.location}}</div>
                  <div class="ion-padding magenta-bg black" slot="content">{{item.additionalInfo}}</div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-card-content>
      </ion-card>
  </div>
</ion-content>
