<ion-content>
  <div class="padding-10px border-box">
    <div class="example-content relative">
      <div class="absolute left-0p top-5px xx-large" (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </div>
      <h3>Give Feedback</h3>
    </div>
    <p class="larger">Help us make our sisterhood better by giving feedback on what to impove, add or change in our application:</p><br>
    <form [formGroup]="feedbackForm">
    <ion-textarea [autoGrow]="true" fill="outline" label="Feedback" labelPlacement="floating" placeholder="Enter text" formControlName="description"></ion-textarea><br>
    </form>
    <ion-button expand="block" fill="solid" shape="round" (click)="submit()">Submit Feedback</ion-button>
  </div>
</ion-content>

