
<ion-content [fullscreen]="true" class="pop">
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-justify-content-center">
    <img src="../../assets/focusNetwork-logo.png" alt="logo" height="70px" width="70px"/>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- <ion-title class="ion-no-margin ion-text-center">Welcome To <span class="">Focused</span> Network</ion-title> -->
       <span class="focused font-size-38px">Focused</span>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <span class="network margin-left-6px">NETWORK</span>
    </ion-row>
  </ion-toolbar>
  <div class="container">
    <ion-row class="full-width ion-justify-content-center">
      <h3>Welcome To the <span class="focused">Sisterhood</span></h3>
    </ion-row>
    <ion-row class="full-width">
      <img class="full-width image" src="../../assets/images/g2.jpg" alt="Welcome"/>
    </ion-row>
    <ion-row class="full-width ion-justify-content-center">
      <ion-button expand="block" fill="solid" shape="round" [routerLink]="['/login']">Go To Login</ion-button>
    </ion-row>
  </div>
</ion-content>
