<ion-content class="pop"><br>
    <div class="example-content">
      <h3>Welcome, {{this.currentUser?.data.fullName}}🤗</h3>
    </div>
    <div class="example-content padding-10px border-box">
      <img src="../../../assets/images/home-bar2.png" alt="home-bar">
    </div><br>
    <div class="ion-align-items-center ion-justify-content-between flex ion-wrap">
      <div class="half-width text-center pointer" [routerLink]="['/home/mentors']">
        <img src="../../../assets/images/Mentors.png" class="width-80p" alt="mentor"/>
        <h4>Mentors</h4>
      </div>
      <div class="half-width text-center pointer" [routerLink]="['/home/meet-ups']">
        <img src="../../../assets/images/Meet Ups.png" class="width-80p" alt="meet-ups"/>
        <h4>Meet-Ups</h4>
      </div>
      <div class="half-width text-center pointer" [routerLink]="['/home/nuggets']">
        <img src="../../../assets/images/nuggets.png" class="width-80p" alt="nuggets"/>
        <h4>Nuggets</h4>
      </div>
      <div class="half-width text-center pointer" [routerLink]="['/home/mental']">
        <img src="../../../assets/images/Mental Health.png" class="width-80p" alt="health"/>
        <h4>Mental Health</h4>
      </div>
      <div class="half-width text-center pointer" [routerLink]="['/home/feedback']">
        <img src="../../../assets/images/feedback.png" class="width-80p" alt="feedback"/>
        <h4>Feedback</h4>
      </div>
    </div>
</ion-content>

