<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="padding-10px border-box pop ion-content-scroll-host">
    <div class="example-content">
      <div class=" xx-large" (click)="goBack()">
      <ion-icon size="large" name="arrow-back-circle-outline"></ion-icon>
      </div>
      <h3>Your Bookings</h3>
    </div>
    <div *ngFor="let mentor of bookedMentors">
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="profile" [src]="'https://focus-network-server.vercel.app/api/get-file/' + mentor.file.id" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h1> {{mentor.fullName}}</h1>
          <!-- Match booking data for this mentor -->
          <div *ngFor="let booking of bookings">
            <ng-container *ngIf="mentor._id === booking.mentorId">
              <p class="font-size-20px"><strong>Date:</strong> {{booking.date.slice(0, 10)}}</p>
              <p class="font-size-20px"><strong>Time:</strong> {{booking.time}}</p>
              <p class="font-size-20px"><strong>Status:</strong> {{booking.status}}</p>
              <p class="font-size-20px"><strong>Where:</strong> {{booking.where}}</p>
            </ng-container>
          </div>
        </ion-label>
      </ion-item>
    </div>
    
  </div>
</ion-content>
