ion-input.custom {
    --background: #fff;
    --color: black;
    --placeholder-color: black;
    --border-radius: 15px;
    --highlight-color: black;
  }

  ion-button {
    --background: #fff;
    --background-activated: #e51e92;
    --color: black;
  }